@model ForgetPasswordViewModel

@{

    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>
<br />

<form asp-action="ForgetPassword" method="post">
    <div class="text-warning" asp-validation-summary="All"></div>

    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <input type="submit" value="Reset Password" class="btn btn-outline-warning" />

</form>